body {
  margin: 0;
  font-family: quicksand;
  background-color: #13142a;
  padding: 1.2rem;
}

header h1 {
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
  color: white;
  border-radius: 1rem;
  width: 80%;
  background-color: #21213b;
}

.container {
  display: flex;
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 95%;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: white;
  background-color: #32314e;
}

.containerDrinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  gap: 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.contenedorForm {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 1rem;
}

.contenedorForm input,
.contenedorForm select {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: quicksand;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
}

.inputbebidan label {
  display: block;
  margin-bottom: 0.5rem;
}

.inputbebidan select {
  width: 100%;
}

.button-form {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.button-form input {
  font-family: quicksand;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  width: 40%;
  background-color: #4e4c6b;
  color: white;
  margin-bottom: 0.5rem;
}
